@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #070606; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: white; }

img {
  width: 80%;
  height: auto; }

p {
  font-size: 1.8rem;
  color: #868484; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem;
  font-weight: lighter; }

.btn, .btn__principal, .btn__secundario {
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500; }

.btn__principal {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff; }

.btn__principal:hover {
  color: #fff;
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.btn__secundario {
  background-color: #fff;
  color: #868484; }

h2 span {
  width: 20px;
  height: 2px;
  display: inline-block;
  background: #1f282b;
  background: linear-gradient(135deg, #ffffff 0%, #b0b0b0 100%);
  vertical-align: middle; }

.contenedor {
  width: 80%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1240px; }

.gs\:grid {
  display: flex;
  flex-wrap: wrap; }

[class*="col-"],
.columna {
  width: 100%;
  max-width: 100%;
  padding-left: 12px; }

.columna {
  flex: 1 0 0; }

.columna-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.columna-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.columna-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.columna-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.columna-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.columna-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.columna-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.columna-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.columna-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.columna-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.columna-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.columna-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 578px) {
  .sm\:columna {
    flex: 1 0 0; }
  .sm\:columna-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .sm\:columna-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .sm\:columna-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .sm\:columna-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .sm\:columna-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .sm\:columna-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .sm\:columna-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .sm\:columna-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .sm\:columna-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .sm\:columna-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .sm\:columna-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .sm\:columna-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (max-width: 768px) {
  .md\:columna {
    flex: 1 0 0; }
  .md\:columna-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .md\:columna-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .md\:columna-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .md\:columna-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .md\:columna-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .md\:columna-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .md\:columna-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .md\:columna-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .md\:columna-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .md\:columna-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .md\:columna-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .md\:columna-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

/*Estilos para header*/
.header {
  height: 80vh;
  max-width: 80%;
  margin: 0 auto;
  background: linear-gradient(0deg, #060606, #3131314d), url("/assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  flex-direction: column; }
  .header .header__nav {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*Navigation*/ }
    .header .header__nav .navigation__nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row; }
      .header .header__nav .navigation__nav .navigation__element {
        margin: 1em;
        font-size: 1.2em; }
        .header .header__nav .navigation__nav .navigation__element a:hover {
          color: #dfdfdf;
          transition: all .5s ease-in-out; }
  .header .header__box .header__content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row; }
    .header .header__box .header__content .inner__contentLeft h2 {
      color: #e1e1e1;
      font-size: 1.5em; }
    .header .header__box .header__content .inner__contentLeft h1 {
      color: white;
      font-weight: bolder; }
    .header .header__box .header__content .inner__contentCenter {
      text-align: center; }
    .header .header__box .header__content .inner__contentRight {
      text-align: right; }
      .header .header__box .header__content .inner__contentRight .textos {
        color: white; }
      .header .header__box .header__content .inner__contentRight .redes__listado {
        text-align: right;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row; }
