@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #111111; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #868484; }

img {
  width: 80%;
  height: auto; }

p {
  font-size: 1.8rem;
  color: #868484; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2rem;
  font-weight: lighter; }

.btn, .btn__principal, .btn__secundario {
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500; }

.btn__principal {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff; }

.btn__principal:hover {
  color: #fff;
  transform: scale(1.1);
  transition: all .5s ease-in-out; }

.btn__secundario {
  background-color: #fff;
  color: #868484; }

.header {
  width: 80%;
  height: 90vh;
  background: linear-gradient(rgba(35, 35, 35, 0.722), rgba(0, 0, 0, 0.605)), url("https://images.unsplash.com/photo-1517832606299-7ae9b720a186?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1533&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }
  .header .header__nav {
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /*Animaciones*/ }
    .header .header__nav .logo__nav {
      font-size: 2em; }
      .header .header__nav .logo__nav a {
        color: white; }
    .header .header__nav .boton__nav {
      cursor: pointer;
      position: relative;
      display: none;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      z-index: 10 !important; }
      .header .header__nav .boton__nav .boton__navLines,
      .header .header__nav .boton__nav .boton__navLines::before,
      .header .header__nav .boton__nav .boton__navLines::after {
        width: 1.5rem;
        height: .1rem;
        background-color: white;
        transition: all 0.5s ease-in-out; }
      .header .header__nav .boton__nav .boton__navLines::before,
      .header .header__nav .boton__nav .boton__navLines::after {
        content: "";
        position: absolute; }
      .header .header__nav .boton__nav .boton__navLines::before {
        transform: translateY(-0.5rem); }
      .header .header__nav .boton__nav .boton__navLines::after {
        transform: translateY(0.5rem); }
    .header .header__nav .boton__nav.open .boton__navLines {
      transform: translateX(2rem);
      background-color: transparent; }
    .header .header__nav .boton__nav.open .boton__navLines::before {
      transform: rotate(45deg) translate(-1.5rem, 1.5rem); }
    .header .header__nav .boton__nav.open .boton__navLines::after {
      transform: rotate(-45deg) translate(-1.5rem, -1.5rem); }
    .header .header__nav .navigation__nav {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row; }
      .header .header__nav .navigation__nav .navigation__element {
        margin: 1em;
        font-size: 1em; }
        .header .header__nav .navigation__nav .navigation__element a:hover {
          color: white;
          transition: all .8s ease; }
        .header .header__nav .navigation__nav .navigation__element .dropdown-menu .navigation__element a:hover {
          color: #12141D !important; }
  .header .header__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row; }
    .header .header__content .left__top-title {
      color: #fff;
      font-size: 2em; }
    .header .header__content .left__title {
      color: #fff;
      font-weight: bolder;
      font-size: 3em; }
    .header .header__content .content__right {
      color: #fff;
      text-align: right; }
      .header .header__content .content__right .right__rrss {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row; }
        .header .header__content .content__right .right__rrss .rrss__icon a, .header .header__content .content__right .right__rrss i {
          font-size: 1.5em; }
        .header .header__content .content__right .right__rrss .rrss__icon a:hover {
          color: #fff;
          transition: all .8s ease; }
      .header .header__content .content__right ul {
        padding: 0; }

.contenedor {
  width: 100%;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1240px; }

.gs\:grid {
  display: flex;
  flex-wrap: wrap; }

[class*="col-"],
.columna {
  width: 100%;
  max-width: 100%;
  padding-left: 12px; }

.columna {
  flex: 1 0 0; }

.columna-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.columna-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.columna-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.columna-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.columna-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.columna-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.columna-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.columna-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.columna-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.columna-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.columna-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.columna-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media (max-width: 420px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    flex-direction: column !important; }
    .header__menu ul {
      padding: 0; }
    .header__menu .header__logo {
      text-align: center;
      margin-bottom: 2em; }
    .header__menu .navigation__elemento {
      font-size: .8em; }
  .header__content {
    height: 100%;
    flex-direction: column !important; }
    .header__content .content__left {
      align-self: flex-start;
      margin-top: 20%; }
      .header__content .content__left .left__top-title {
        font-size: 1em; }
    .header__content .content__right .right__info {
      text-align: center; } }

@media screen and (min-width: 578px) {
  .sm\:columna {
    flex: 1 0 0; }
  .sm\:columna-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .sm\:columna-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .sm\:columna-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .sm\:columna-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .sm\:columna-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .sm\:columna-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .sm\:columna-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .sm\:columna-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .sm\:columna-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .sm\:columna-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .sm\:columna-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .sm\:columna-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (max-width: 768px) {
  .md\:columna {
    flex: 1 0 0; }
  .md\:columna-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .md\:columna-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .md\:columna-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .md\:columna-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .md\:columna-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .md\:columna-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .md\:columna-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .md\:columna-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .md\:columna-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .md\:columna-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .md\:columna-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .md\:columna-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  body {
    font-size: 12px; }
  /*Menu*/
  .boton__nav {
    display: flex !important; }
  .navigation__nav {
    width: 100%;
    flex-direction: column !important;
    justify-content: space-around !important;
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateY(-100vh);
    background-color: #111111;
    z-index: 1; }
  .navigation__nav.open {
    transform: translateY(0); } }
