@media(max-width: 420px){
    .header__menu{
        @include contenedor-flexible(space-between, space-between, wrap, column !important);
        ul{
            padding: 0;
        }
        .header__logo{
            text-align: center;
            margin-bottom: 2em;
        }
        .navigation__elemento{
            font-size: .8em;
        }
    }
    .header__content{
        height: 100%;
        flex-direction: column !important;
        .content__left{
            align-self: flex-start;
            margin-top: 20%;
            .left__top-title{
                font-size: 1em;
            }
        }
        .content__right{
            .right__info{
                text-align: center;
            }
        }
       
    }
}

//Responsive

@media screen and (min-width: 578px){
    @include grid-system(sm\:columna);
}

@media screen and (max-width: 768px){
    @include grid-system(md\:columna);
    body{
        font-size: 12px;
    }

    /*Menu*/
    .boton__nav{
        display:flex !important;
    }

    .navigation__nav{
        width: 100%;
        flex-direction: column !important;
        justify-content: space-around !important;
        position: absolute !important;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        transform: translateY(-100vh);
        background-color: #111111;
        z-index: 1;
    }

    .navigation__nav.open{
        transform: translateY(0);
    }

}